/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2014, 11:26:48 AM
    Author     : xyz
*/
body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
	background-color: rgba(53, 53, 53, 0.8);
	//background-image: url("../../assets/background/enactus_bg.png");
    //background-repeat: repeat;
	
	
}
.background{
    top: 0px;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    //position: absolute;
    height: 500px;    
    width: 900px;
	//background: rgba(255,255, 255, 0.5);
	z-index:-1;
   
}

.structure{
	//margin: 0px 100px 0px 100px;
    /* margin: 50px 100px 0px 100px;  */
    /* height: 612px; */
    //border: 1px solid black;
    
    //position: static;
    /* width: 980px; */
    //top: 0px;
    /* height: 970px; */
    //left: 136px;
    //background-color: brown;
}


/*.header{
    //position: absolute;
    margin: 5px 10px;  
    height: 129px;
    border: 1px solid black;
}*/
.content{
	height: 490px;
    //background-color: rgba(53, 53, 53, 0.7);
	padding: 40px 50px;
    //margin: 5px 10px;  
    /* height: 449px; */
    //border: 1px solid black;
	margin-left:40px;
	margin-right:40px;
	
}